.footer {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer span {
  cursor: pointer;
}

.contactForm {
  overflow: hidden;
}

.openContactForm {
  height: 60vh;
  transition: height 1s ease-out;
}

.closeContactForm {
  height: 0px;
  transition: height 1s ease-out;
}

.sendButton {
  color: #fff;
}

textarea {
  overflow: hidden;
  appearance: none;
  outline: none;
  background-color: transparent;
  -webkit-appearance: none;
  font-size: 25px;
  border: 0;
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea::placeholder {
  color: #fff;
}

input {
  overflow: visible;
  appearance: none;
  outline: none;
  background-color: transparent;
  -webkit-appearance: none;
  font-size: 25px;
  border: 0;
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
}

input::placeholder {
  color: #fff;
}

@media (max-width: 576px) {
  * {
    font-size: 25px;
  }
  textarea {
    font-size: 25px;
  }
  h1 {
    font-size: 25px;
  }
}
